[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
snap-micro = "*"
sqlalchemy = "*"
boto3 = "*"
twilio = "*"
uhashring = "*"
redis = "*"
mercury-toolkit = "*"

[requires]
python_version = "3.6"
